@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.animate-scan-manual {
  animation: scan-move 3s linear infinite;
}

@keyframes scan-move {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
}
